.paginator button{
    background-color: #0099ff;
    border-radius: 3px;
    border: lightgray;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.selectedPage {
    background-color: lightgray;
    padding: 5px;
    border-radius: 3px;
}

.pageNumber{
    cursor: pointer;
    padding: 5px;
}

